.course-categories-container {
    margin-top: 10px;
    width: 370px;
    height: 500px;
    border-radius: 20px;
    background-color: gainsboro;
    box-shadow: 5px 5px 5px gray;
}

.single-container {
    border: 3px solid whitesmoke;
    box-shadow: 3px 5px gray;

}

.single-container:hover {
    background-color: aqua;
}